<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wrong credentials</title>
</head>
<body>
    <h1>Please return and enter valid credentials</h1>
    <hr>
    <a href="{% url 'secretUrl' %}">Try again</a>
    <p>BTW: the credentials are</p>
    <p>Username: admin</p>
    <p>Password: abcde123456</p>
</body>
</html>