<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <label for="username">
            Username:
            <input type="text" name="username">
        </label><br>
        <label for="password">
            password:
            <input type="password" name="password">
        </label>
        <button type="submit">login</button>
    </form>
    <hr>
    <a href="{% url 'anyview' %}">main</a> 
</body>
</html>