<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anyone can access this url</title>
</head>
<body>
    <h1>Anyone can access this url</h1>
    but only authenticated people can access this one => <a href="{% url 'secretUrl' %}">SecretUrl</a> 
</body>
</html>